<div class="container">
  <div class="row">
    <div class=".col-md-6 .col-sm-offset-3">
      <% get_comments_by_article_id article_id: nil %>
      <%= comments_tree_for @comments %>
    </div>
  </div>
</div>
