<div class="container">
  <div class="row">
    <div class=".col-md-6 .col-sm-offset-3">
      <h1>New comment</h1>

      <% if @comment.parent %>
        <%= render 'comment', comment: @comment.parent, from_reply_form: true %>
      <% end %>

      <%= render 'form' %>
    </div>
  </div>
</div>
