<div class="row">
  <div id="side-menu" class="col-sm-3">
    <div class="row">
      <%#= link_to "New Post", "/posts/new", class: "dropdown-item text-primary ms-4 mt-4" %>
    </div>
  </div>
  <div id="main-content" class="col-sm-9">
    <% set_posts %>
    <%= render @posts %>
    <%= paginate @posts %>
  </div>
</div>
