<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <p>dummy</p>
      <h1 class="text-center text-primary text-wrap text-break"><%= @post.title %></h1>
      <p class="text-center text-wrap text-break" style="word-break: break-word"><%= @post.content %></p>
    </div>
  </div>
  <%= render "post_index" %>
</div>
