<% get_user user: @post.user_id %>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <p class="text-secondary"><%= @user.name %></p>
      <h2 class="text-primary text-wrap text-break"><%= @post.title %></h2>
      <p class="text-wrap text-break mx-4" style="word-break: break-word"><%= @post.content %></p>
    </div>
  </div>
  <%= render "post_index" %>
</div>
